{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devise-width, initial-scale=1, shrink-to-fit=no"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'main/img/earth_logo.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>

<body>
<nav class="navbar navbar-dark bg-primary">
    <div>
        <a class="navbar-brand" href="{% url 'main:index' %}"> Places and Memories </a>
    </div>

    {% if user.is_authenticated %}

    <div>
        <a class="nav-link active" href="{% url 'main:places' %}">My Places </a>
    </div>

    <div>
        <a class="nav-link active" href="{% url 'users:logout' %}">Log out</a>
    </div>

    <div class="navbar">
        <div>
            <p>{{ user.username }}</p>
        </div>

        <div>
            {% if user.socialaccount_set.all.0.get_avatar_url %}
            <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="avatar">
            {% endif %}
        </div>
    </div>

    {% else %}

    <div class="navbar">
        <div>
            <a class="nav-link active" href="{% url 'users:register' %}">Sign up</a>
        </div>

        <div>
            <a class="nav-link active" href="{% url 'account_login' %}">Sign in with Google / VK</a>
        </div>
    </div>
    {% endif %}
</nav>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}

<div class="alert alert-danger" role="alert">
    {{ message }}
</div>

{% else %}
<div class="alert alert-{{message.tags}}" role="alert">
    {{ message }}
</div>

{% endif %}
{% endfor %}
{% endif %}

<main role="main" class="container">
    {% block page_header %} {% endblock page_header %}

    {% block content %} {% endblock content %}
</main>

</body>
</html>