{% extends "main/base.html" %}

{% block title %} Delete my memories about {{ place.place }}  {% endblock title %}

{% block page_header %}
    <div class="container_main">
        <h2> Delete my memories about {{ place.place }} </h2>
    </div>
{% endblock page_header %}

{% block content %}

<div class="container_main">
    <!--    {% if user.is_staff %}-->
    <!--    {% endif %}-->

    <div>
        <h4> Are you sure you want to delete memories about {{ place.place }} ? </h4>

        <form method="post" class="">
            {%csrf_token %}
            <button class="btn btn-danger" type="submit"> Yes, I'm sure. Delete it. </button>
        </form>
    </div>
</div>

{% endblock content %}





