{% extends "main/base.html" %}

{% block title %} My memories in  {{ place.place }} {% endblock title %}

{% block page_header %}
    <h2> My memories in {{ place.place }} ( {{ place.date_added|timesince }} ago ) </h2>
{% endblock page_header %}

{% block content %}

    {% if place.photo%}
        <img src="{{ place.photo.url }}" class="img-news" alt="{{ place.place }}">
    {% endif %}

    <p>{{ place.text }}</p>
    <p>{{ place.date_added }}</p>

    <a class="btn btn-outline-primary" href="{% url 'main:update_memory' place.slug %}" role="button"> Update this one </a>
    <a class="btn btn-outline-danger" href="{% url 'main:delete_memory' place.slug %}" role="button"> Erase this memory </a>
{% endblock content %}