{% extends "main/base.html" %}

{% block title %} Places and Memories {% endblock title %}

{% block content %}
    <section class="u-clearfix u-image u-section-2" id="sec-894e" data-image-width="1920" data-image-height="1022">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-sheet-1">
            <div class="u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
            <div class="u-align-left u-container-style u-group u-palette-5-dark-3 u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2  class="u-text ">Welcome to 'Places and memories'!</h2>
                    <h4 class="u-text u-text-default ">Hello Stranger! Do you travel a lot? Already visited hundreds of places? Here you can save all your accumulated memories: select a place on the map, give it a name, share a photo, leave comments, thoughts and memories. Create your own library of memories! Travel, explore, remember!</h4>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}