{% extends "main/base.html" %}

{% block title %} Places and Memories {% endblock title %}

{% block page_header %}
<div class="container_main">
    <h2 class="center"> Welcome to 'Places and memories'! </h2>
</div>
{% endblock page_header %}

{% block content %}
<div class="container_main">
    <div class="jumbotron">
        <p class="lead">
            Hello Stranger! Do you travel a lot? Already visited hundreds of places? Here you can save all your
            accumulated memories: select a place on the map, give it a name, share a photo, leave comments, thoughts and
            memories. Create your own library of memories! Travel, explore, remember!
        </p>
    </div>
</div>
{% endblock content %}

