{% extends "main/base.html" %}

{% block title %} My memories in  {{ place.place }} {% endblock title %}

{% block page_header %}
<h2> My memories in {{ place.place }} </h2>
{% endblock page_header %}

{% block content %}


<div>
    <div><h1>Here comes my folium map:</h1></div>

    {{map|safe}}
    <script>
        {
            {
                map.script.render | safe
            }
        }
    </script>
</div>
<div>
    <form class="form" action="{% url 'main:update_memory' place.slug %}" method='post'>
        {%csrf_token %}
            <h5>Place:</h5>
            {{ form.place }}<br>

            <h5>Latitude:</h5>
            {{ form.latitude }}<br>

            <h5>Longitude:</h5>
            {{ form.longitude }}<br>

            <h5>Add an image:</h5>
            {{ form.photo }}<br>

            <h5>Full text:</h5>
            {{ form.text }}<br>

            <p style="color:red">{{ error }}</p>
        <button class="btn btn-outline-primary" type="submit"> Update! </button>
    </form>
</div>

<a class="btn btn-outline-danger" href="{% url 'main:delete_memory' place.slug %}" role="button"> Erase this memory </a>

{% endblock content %}





